language = "python3"
run = "cd backend && pip install -r requirements_cloud.txt && python simple_server_cloud.py"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

modules = ["python-3.11"]

[nix]
channel = "stable-22_11"

[[ports]]
localPort = 8000
externalPort = 80
